.main {
  margin-top: 5.6rem;
  margin-left: 6.9rem;
  background-color: $grey-bg;
  padding: 2rem;

  .section:not(.show) {
    display: none;
  }
}

.violation {
  &-header {
    margin-bottom: 2rem;

    &__item {
      padding: 3rem 1.5rem;
    }

    .d-flex-bw .col-lg-3:not(:last-child) &__item {
      border-right: 1px solid $grey-bg;
    }
  }

  &-content__table {
    th {
      background-color: #f3f2f7;
    }

    tbody tr:nth-child(even) {
      background-color: #faf9fc;
    }
  }
}
