body {
  color: #535357;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}

.t {
  &-blue {
    color: $blue;
  }
  &-red {
    color: $red;
  }
  &-green {
    color: $green;
  }
  &-grey {
    color: $grey;
  }
}

.section__box {
  background-color: #fff;
  box-shadow: 0 0 1rem darken($color: $grey-bg, $amount: 8%);
}

.section__header {
  padding: 2rem 1.5rem;
  border-bottom: 1px solid $grey-bg;
  h2 {
    font-size: 1.8rem;
  }
}

.section__table {
  padding: 2rem;

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    th,
    td {
      padding: 2rem 1.5rem;
      text-align: left;
    }
  }
}

@media (max-width: 998px) {
  .section__table {
    table {
      thead tr th:first-child,
      tbody tr td:first-child {
        width: 10%;
      }

      thead tr th:nth-child(2),
      tbody tr td:nth-child(2) {
        width: 20%;
      }

      thead tr th:nth-child(3),
      tbody tr td:nth-child(3) {
        width: 25%;
      }
    }
  }
}

@media (max-width: 593px) {
  .section__table {
    table {
      thead tr th:first-child,
      tbody tr td:first-child {
        display: none;
      }

      thead tr th:nth-child(2),
      tbody tr td:nth-child(2) {
        width: 40%;
      }

      thead tr th:nth-child(3),
      tbody tr td:nth-child(3) {
        display: none;
      }
    }
  }

  .mb-hide {
    display: none;
  }
}
